@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";




@theme {
--font-Space_Mono: "Space Mono"
}
@theme {
    --font-Roboto_Slab: "Roboto Slab"
}
@theme {
    --font-Kumbh_Sans: "Kumbh Sans"
}
body{
    background-color: #1e2140;
}

.circle {
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear, stroke 0.8s linear;
}